.checkout{
    display: flex;
    .checkout-left{
        .checkout-left__open-title-cursor{
            cursor: pointer;
        }
        .checkout-left__open-title{
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 42px;
            color: black;
            border-bottom: 1px solid #D1C7A3;
        }
        padding: 15px;
        flex-grow: 4;
        background-color: #FFFFFF;
    }
    .checkout-right{
        flex-grow: 2;
        padding: 20px;
        background-color: #EBE6D7;
    }
}