.catalog-layout{
  font-family: 'Open Sans', sans-serif;
  background-color: #EBE6D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;

  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    height: 177px;
    width: 100%;
    font-size: 90px;
    border: 1px solid #D1C7A3;
  }
  .product-counter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 61px;
    padding-left: 280px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #D1C7A3;
  }
}

.catalog-grid-container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 12fr;
  //margin: 22px;

  .grid-item-3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid-item-4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .grid-item-5 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}